@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px; 
}

.round {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  flex: auto; /*justify-content: flex-start makes #logo = 8 x 24 --> delete*/  
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rebeccapurple;
}

button {
  padding: 8px 24px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  overflow: hidden;
  border-radius: 8px;
}

.left-links,
.right-links {
  display: flex; /* apply display:flex to make #round has dimension: 48 x 48 */
  gap: 16px;
}

.left-links {
  color: rebeccapurple;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; /*apply align-items: center in .left-links, .right-links --> #round = 8 * 24*/
}

#logo {
  color: rebeccapurple;
  font-weight: 900; 
  font-size: 32px;
  font-style: italic;
}



