
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

ul {
    color: ;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
    list-style: none;
    text-decoration: none;
}