body {
    display: flex;
}

div {
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.title {
    align-content: stretch;
    height: 100px;
    width: 800px;
    flex: 0 1 100%;
}

img {
    width: 100px;
    height: 100px;
}

