.header {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*          Logo and links       */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

nav li {
  background-color: white;
  margin: 5px;
  padding: 5px 10px;
  flex: auto;
}

#logo {
  font-size: 46px;
  color: orange;
  margin: 15px; 
  padding: 2px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*      Appearance       */

.left-links,
.right-links,
#logo {  
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.left-links, 
.right-links {
  color: blue;
}

/*              Resize           */

@media all and (min-width: 600px) {
  nav li {
    justify-content: space-around;
  }

  .left-links {
    justify-content: flex-start;
  }

  .right-links {
    justify-content: flex-end;
  }
}
  