

































/*div {
  display: flex;
  flex-direction: row;
}

.header {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blanchedalmond;
  max-height: 100px;
  max-width: 800px;
}

div li {
  row-gap: 10px;
  flex-direction: row;
}


.left-links,
.right-links,
#logo {  
  font-family: 'Courier New', Courier, monospace;
}

.left-links, 
.right-links {
  padding: 5px 10px;
  max-width: 150px;
  max-height: 100px;
  
  flex: 1 1 auto;
  flex-direction: row;
  font-weight: 900;
  color: blue;
}

.left-links {
  justify-content: start;
}

.right-links {
  justify-content: end;
}

#logo {
  margin: auto;
  padding: 10px 20px;
  max-width: 150px;
  max-height: 50px;
  background-color: white;
  font-weight: bolder;
  font-size: 36px;
  color: rgb(231, 109, 9);
  align-items: center;
  justify-content: center;
}

*/