.header {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  background-color: white;
  margin: 5px;
  padding: 5px 10px;
  flex: auto;
}

#logo {
  font-size: 46px;
  color: orange;
  margin: 15px; 
  padding: 2px 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

